:root {
	--howl-warm-white: #FCF9F2;
	--howl-soft-dark: #3D3935;
	--howl-hard-dark: #1A1A1A;
	--howl-golden-brown: #D4A373;
	--howl-light-grey: #E2DDD3;
}

@font-face {
	font-family: "Nunito";
	src: url("./Nunito-VariableFont_wght.ttf");
	font-style: normal;
	font-weight: 200 900;
}

@font-face {
	font-family: "Nunito";
	src: url("./Nunito-Italic-VariableFont_wght.ttf");
	font-style: italic;
	font-weight: 200 900;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("./JetBrainsMono-VariableFont_wght.ttf");
	font-style: normal;
	font-weight: 100 800;
}

@font-face {
	font-family: "JetBrains Mono";
	src: url("./JetBrainsMono-Italic-VariableFont_wght.ttf");
	font-style: italic;
	font-weight: 100 800;
}

@font-face {
	font-family: "Latin Modern Math";
	src: url("./LatinModernMath.otf");
}

html {
	font-size: 110%;
}

*, *::before, *::after {
	box-sizing: border-box;
}


body {
	font-family: "Nunito";
	line-height: 1.6;
	margin: 0 auto;
	padding-inline: 1rem;
	background-color: var(--howl-warm-white);
	color: var(--howl-soft-dark);
	max-width: 80ch;
}

address {
	font-style: normal;
	margin-block: 1rem;
	padding-left: 1rem;
	border-left: 3px solid var(--howl-golden-brown);
}

address a[href^="mailto"]::before {
	content: "📧 ";
}

address a[href^="tel"]::before {
	content: "📞 ";
}

address a[href^="http"]::before {
	content: "🌐 ";
}

article {

}

aside {

}

footer {

}

header {

}

h1, h2, h3, h4, h5, h6 {
	color: var(--howl-hard-dark);
	line-height: 1.2;
	font-weight: 800;
	margin-top: 3rem;
	margin-bottom: 1rem;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

h5 {
	font-size: 1rem;
}

h6 {
	font-size: 0.75rem;
}

hgroup {
	margin-top: 3rem;
	margin-bottom: 1rem;
}

hgroup * {
	margin: 0;
}

hgroup p {
	color: var(--howl-golden-brown);
	font-style: italic;
	line-height: 1.2;
}

main {

}

nav {

}

section {

}

search {

}

blockquote {
	margin-inline: 3rem;
	margin-block: 2rem;
	border-left: 3px solid var(--howl-golden-brown);
	padding-left: 1rem;
	font-style: italic;
	font-size: 1.1rem;
}

blockquote::before {
	content: open-quote;
	color: var(--howl-golden-brown);
}

blockquote::after {
	content: close-quote;
	color: var(--howl-golden-brown);
}

dd {
	margin-left: 2rem;
}

div {

}

dl {

}

dl dt:first-child::before {
	content: none;
}

dt {
	font-weight: 800;
	color: var(--howl-hard-dark);
}

dt::before {
	content: "";
	display: block;
	border-top: 1px solid var(--howl-light-grey);
	margin-top: 0.5rem;
	padding-bottom: 0.5rem;
}

figcaption {
	text-align: center;
	font-size: 0.8rem;
	font-style: italic;
	margin-block: 0.5rem;
}

figure {
	margin-inline: auto;
	margin-block: 2rem;
}

figure :is(img, audio, embed, svg) {
	margin-inline: auto;
}

hr {
	border: none;
	position: relative;
	overflow: visible;
	border: 0.5px solid var(--howl-light-grey);
	margin-block: 3rem;
}

hr::before {
	content: "(⚈ᴥ⚈)";
	color: var(--howl-golden-brown);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--howl-warm-white);
	padding: 0.2rem;
}

ul, ol, menu {
	margin-block: 1rem;
	padding-left: 3rem;
}

li::marker {
	font-weight: 700;
	color: var(--howl-golden-brown);
}

menu {

}

ol {

}

p {
	margin-top: 0;
}

pre {
	font-family: "JetBrains Mono";
	background-color: var(--howl-soft-dark);
	color: var(--howl-warm-white);
	font-size: 0.9rem;
	tab-size: 4;
	border-radius: 4px;
	padding: 1.5rem;
	margin-block: 2rem;
	border-left: 5px solid var(--howl-golden-brown);
}

ul {

}

a {
	color: var(--howl-golden-brown);
	text-decoration-color: var(--howl-golden-brown);
	text-underline-offset: 4px;
	transition: all ease 0.2s;
}

a:hover {
	color: var(--howl-soft-dark);
	text-decoration-color: var(--howl-soft-dark);
}

abbr {
	color: var(--howl-golden-brown);
	text-decoration: underline dotted;
	text-decoration-thickness: 2px;
	cursor: help;
	text-underline-offset: 2px;
}

b, strong {
	font-weight: 800;
}

bdi {

}

bdo {

}

br {

}

figure > blockquote {
	margin-bottom: 1rem;
}

figure > blockquote ~ figcaption {
	text-align: right;
	margin-inline: 3rem;
	margin-top: 0;
}

cite {

}

code, samp {
	font-family: "JetBrains Mono";
	background-color: var(--howl-light-grey);
	border-radius: 3px;
	padding: 0.1rem 0.4rem;
	font-size: 0.9em;
}

pre :is(code, samp) {
	background-color: initial;
	border-radius: initial;
	padding: initial;
	font-size: inherit;
}

data {

}

dfn {

}

em {

}

i {

}

kbd {
	font-family: "JetBrains Mono";
	font-size: 0.9em;
	background-color: var(--howl-warm-white);
	color: var(--howl-hard-dark);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	border-bottom: 3px solid rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
	padding: 0.05rem 0.3rem;
}

mark {
	background-color: #dce472;
	border-radius: 2px;
	padding-inline: 0.3rem;
}

q {
	font-style: italic;
}

rp {

}

rt {

}

ruby {
	font-size: 1.5rem;
}

s {
	text-decoration-color: var(--howl-golden-brown);
	text-decoration-thickness: 2px;
}

samp {

}

small {
	font-size: 0.8rem;
}

strong {

}

sub {

}

sup {

}

time {

}

u {
	text-decoration: wavy underline;
	text-decoration-color: var(--howl-golden-brown);
	text-underline-offset: 4px;
}

var {

}

wbr {

}

area {

}

audio {
	width: 100%;
	display: block;
}

img {
	display: block;
	max-width: 100%;
}

map {

}

track {

}

video {
	max-width: 100%;
}

video::cue {
	background-color: yellow;
	color: white;
}

embed {
	display: block;
	max-width: 100%;
}

fencedframe {

}

iframe {

}

object {

}

picture {

}

source {

}

svg {
	max-width: 100%;
	display: block;
}

math {
	font-family: "Latin Modern Math";
	display: block;
	font-size: 1.2rem;
}

canvas {

}

noscript {

}

script {

}

del {
	background-color: #ffdce0;
	padding-inline: 0.3rem;
	border-radius: 2px;
	text-decoration-thickness: 2px;
}

ins {
	background-color: #afefc1;
	padding-inline: 0.3rem;
	border-radius: 2px;
	text-decoration: none
}

table {
	width: 100%;
	border-collapse: collapse;
	margin: 2rem 0;
	font-variant-numeric: tabular-nums;
}

caption {
	text-align: left;
	font-weight: 800;
	color: var(--howl-golden-brown);
	margin-bottom: 0.75rem;
	font-size: 0.85em;
	text-transform: uppercase;
	letter-spacing: 0.03rem;
}

th, td {
	padding: 0.75rem;
	border: 1px solid var(--howl-light-grey);
	text-align: left;
}

thead th {
	border-bottom: 2px solid var(--howl-golden-brown);
	font-size: 0.85rem;
	font-weight: 800;
}

tfoot {
  font-weight: 800;
  background-color: var(--howl-warm-white);
}

tfoot td {
  border-top: 2px solid var(--howl-soft-dark);
}
