:root {
	--color-black-1: #222;
	--color-black-2: #333;
}

@font-face {
	font-family: "Nunito";
	src: url("./Nunito-VariableFont_wght.ttf");
	font-style: normal;
	font-weight: 200 900;
}

@font-face {
	font-family: "Nunito";
	src: url("./Nunito-Italic-VariableFont_wght.ttf");
	font-style: italic;
	font-weight: 200 900
}

body {
	font-family: "Nunito";
	line-height: 1.6;
	max-width: 80ch;
	margin: 0 auto;
	padding: 0 1rem;
	letter-spacing: 0.01rem;
	color: var(--color-black-2);
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
	line-height: 1.2;
	color: var(--color-black-1);
}

h1 {
	font-size: 2.5rem;
	margin-block: 2.5rem;
}

h2 {
	font-size: 2rem;
	margin-block: 2rem;
}

h3 {
	font-size: 1.75rem;
}

h4 {
	font-size: 1.5rem;
	margin-block: 1rem;
}

h5 {
	font-size: 1.25rem;
	margin-block: 1rem;
}

h6 {
	font-size: 1rem;
	margin-block: 1rem;
}
